@import "../var";

.button {
  padding: 9px 22px;
  font-weight: bold;
  font-size: $small;
  line-height: 22px;
  text-transform: uppercase;
  color: $white;
  background-color: $black;
  cursor: pointer;
  border: none;

  @media (max-width: 390px) {
    font-size: $very-small-2;
    line-height: 19px;
  }

  transition: background-color .4s;

  &:hover {
    background-color: $brown;
  }

  &:active {
    background-color: $light-brown;
  }

  &:disabled {
    color: $gray-7;
    background-color: $light-gray;
    pointer-events: none;
  }

  &_blue {
    background-color: $dark-blue;
  }

  &_gray {
    display: flex;
    margin-top: 21px;
    background: $light-gray;
    border: none;
  }
}