/* poster */

@import "../../components/var";

.poster {
  position: relative;
  margin-top: 70px;
  background-color: $brown-3;

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    font-weight: bold;
    font-size: $very-small;
    line-height: 16px;
    text-transform: uppercase;
    color: $white;
    background-color: $brown;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 131px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 89px 0 89px 0;
    padding: 0;
    padding-left: 1px;
  }

  &__pic {
    position: absolute;
    right: 100px;
    bottom: 39px;
  }

  &__title {
    margin: 0;
    width: 310px;
    padding: 2px 0 19px 0;
    font-family: "Montserrat", "Candara", sans-serif;
    font-weight: bold;
    font-size: $big-2;
    line-height: 110%;
    color: $dark;
  }

  &__text {
    width: 152px;
    padding-bottom: 19px;
    padding-left: 1px;
    font-family: "Crimson Text", "Big Caslon", serif;
    font-style: italic;
    font-size: $normal;
    line-height: 25px;
    color: $dark;
  }

  &__button {
    width: 161px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 17px;
    left: 28px;
  
    &__button {
      margin-left: 3px;
      margin-top: 11px;
      width: 31px;
      height: 3px;
      background-color: $brown-4;
      border: none;
      cursor: pointer;

      transition: background-color .4s;
  
      &:hover {
        background-color: $brown-5;
      }

      &_active {
        margin-top: 10px;
        width: 31px;
        height: 3px;
        background-color: $dark-4;
        border: none;
      }
    }
  
    &__number {
      padding-bottom: 4px;
      font-family: "Montserrat", "Candara", sans-serif;
      font-weight: 300;
      font-size: $very-big;
      color: $dark-5;
    }
  }
}

/*products*/

.products {
  margin-top: 92px;

  &__title {
    margin-bottom: 30px;
    font-family: "Montserrat", "Candara", sans-serif;
    font-weight: bold;
    font-size: $big;
    line-height: 46px;
    text-transform: uppercase;
    color: $dark;
  }

  &__list {
    margin-bottom: 0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

a > .product__title {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.4s;
}

a:hover > .product__title,
a:active > .product__title {
  text-decoration-color: $white;
}

/* slider */

.slider-category {
  display: flex;
  flex-direction: row;
  padding-bottom: 74px;
  justify-content: start;
  align-items: center;
  padding-left: 0;

  &__btn {
    max-width: 37px;
    max-height: 37px;
    width: 100%;
    padding: 0;
    margin-right: 7px;
    margin-bottom: 7px;
    padding-top: 4px;
    border: none;
  }

  &__text {
    width: 580px;
    margin-left: 12px;
    margin-top: 10px;
  }
}

/*about products*/

.about-products {
  display: flex;
  justify-content: space-between;

  &__title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Montserrat", "Candara", sans-serif;
    font-weight: bold;
    font-size: $big;
    line-height: 46px;
    text-transform: uppercase;
    color: $dark;
  }

  &__item {
    margin-bottom: 23px;
    font-family: "Crimson Text", "Big Caslon", serif;
    font-style: italic;
    font-size: $normal-3;
    line-height: 32px;
    color: $dark;
  }

  &__box {
    position: relative;
    width: 480px;
    margin-right: 100px;
  }

  &__pic {
    margin-bottom: 74px;
    margin-right: 70px;
  }

  &__info {
    margin-top: 29px;
    margin-bottom: 34px;
  }

  &__link {
    font-weight: normal;

    transition: font-weight .4s;

    &_active {
      padding: 16px 180px 13px 60px;
      margin-left: -60px;
      font-weight: bold;
      background-color: $dark-blue;
    }

    &:hover {
      font-weight: bold;
    }

    &:before {
      opacity: 0;
      content: "";
      position: absolute;
      margin-top: -12px;
      left: -60px;
      width: 325px;
      height: 55px;
      background-color: $dark-blue;
      pointer-events: none;
      transition: all .6s;
    }

    &:hover:before {
      opacity: 1;
    }
  }
}


/*partners*/

.partners {
  padding-bottom: 97px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {

    transition: opacity .4s;

    opacity: 1;

    &:hover {
      opacity: 0.75;
    }
  }
}

/*info-box*/

.info-box {
  margin-bottom: 111px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    margin: -26px 0 0 0;
    padding-bottom: 11px;
    font-family: "Montserrat", "Candara", sans-serif;
    font-weight: bold;
    font-size: $big;
    line-height: 46px;
    text-transform: uppercase;
    color: $dark;
  }
}

.about-us {
  max-width: 543px;
  padding: 0 30px 44px 30px;
  margin-bottom: 37px;
  background-color: $light-blue;

  &__subtitle {
    font-family: "Crimson Text", "Big Caslon", serif;
    font-style: italic;
    font-weight: normal;
    font-size: $normal-3;
    line-height: 32px;
    color: $dark;
  }

  &__info {
    margin: 0;
    padding-bottom: 30px;
    padding-top: 10px;
  }
}

.contacts {
  max-width: 543px;
  margin-right: 37px;
  margin-bottom: 64px;
  padding: 0 30px 0 30px;
  background-color: $light-blue;

  &__title {
    padding-bottom: 20px;
  }

  &__info {
    margin: 0;
    padding-bottom: 20px;
  }
}

.map {
  margin-bottom: -180px;

  &__area {
    width: 483px;
    height: 196px;
  }
}

/*modal window*/

.modal-bg {
  display: flex;
  position: fixed;
  background-color: $violet;
  top: 0;
  height: 100vh;
  width: 100vw;

  &_close {
    display: none;
  }
}