@import "../../components/var";

.animation {
  position: relative;
  margin: 0 auto 67px auto;
  width: 100%;
  max-width: 1585px;
  width: 96.7vw;
  overflow: hidden;

  @media (max-width: 768px) {
    margin-bottom: 49px;
  }

  @media (max-width: 375px) {
    margin-bottom: 81px;
  }

  &__background-top {
    padding-left: 10.7%;
    max-width: 1517px;
    max-height: 135px;
    width: 92.5vw;
    height: 8.26vw;
  }

  &__background-bottom {
    padding-left: 0px;
    max-width: 1585px;
    max-height: 630px;
    width: 96.7vw;
    height: 38.5vw;
  }

  &__clouds {
    position: absolute;
    bottom: 80.5%;
    max-width: 1342px;
    max-height: 125px;
    width: 81.8vw;
    height: 7.6vw;
    animation: clouds_anim ease-out 72s;
    animation-iteration-count:infinite;

    &_2 {
      animation-delay: 24s;
    }

    &_3 {
      animation-delay: 48s;
    }
  }

  &__car1 {
    position: absolute;
    bottom: 34%;
    animation: car_anim 9s;
    animation-iteration-count:infinite;
    max-width: 246px;
    max-height: 65px;
    width: 15vw;
    height: 4vw;
  }

  &__car2 {
    position: absolute;
    bottom: 32.1%;
    animation: car_anim 8s;
    animation-iteration-count:infinite;
    max-width: 203px;
    max-height: 96px;
    width: 13vw;
    height: 5.9vw;
  }

  &__car3 {
    position: absolute;
    bottom: 31.5%;
    animation: car_anim 7s;
    animation-iteration-count:infinite;
    max-width: 250px;
    max-height: 99px;
    width: 15vw;
    height: 6vw;
  }

  &__car4 {
    position: absolute;
    bottom: 30.2%;
    animation: car_anim 10s;
    animation-iteration-count:infinite;
    max-width: 268px;
    max-height: 126px;
    width: 16vw;
    height: 7.7vw;
  }

  &__lantern1 {
    position: absolute;
    bottom: 26%;
    left: 33.2%;
    max-width: 151px;
    width: 9vw;
    max-height: 395px;
    height: 24vw;
  }

  &__lantern2 {
    position: absolute;
    bottom: 26.5%;
    left: 88.3%;
    max-width: 151px;
    width: 9vw;
    max-height: 395px;
    height: 24vw;
  }

  &__taxi {
    position: absolute;
    bottom: 13.2%;
    left: 100%;
    max-width: 886px;
    width: 52.7vw;
    max-height: 266px;
    height: 16.2vw;
    animation: taxi_anim 10s;
    animation-iteration-count:infinite;
  }

  &__message-box {
    position: absolute;
    bottom: 40.5%;
    left: 60.6%;
    opacity: 0;
    max-width: 167px;
    width: 10vw;
    animation: step-start message_anim 10s;
    animation-iteration-count:infinite;

    &_2 {
      bottom: 40%;
      left: 11.5%;
      animation: step-start message2_anim 10s;
      animation-iteration-count:infinite;
    }

    &_3 {
      bottom: 51.2%;
      left: 23.2%;
      animation: step-start message3_anim 10s;
      animation-iteration-count:infinite;
    }

    &_4 {
      bottom: 51.2%;
      left: 23.2%;
      animation: step-start message4_anim 10s;
      animation-iteration-count:infinite;
    }

    &__text {
      position: absolute;
      top: 0.1%;
      left: 11.5%;
      font-size: $small;
      max-width: 127px;

      @media (max-width: 1450px) {
        font-size: 0.95vw;
        line-height: 1.5vw;
        max-width: 84%;
      }
    }

    &__pic {
      max-width: 167px;
      width: 10vw;
      max-height: 108px;
      height: 6.6vw;

      &_2 {
        max-height: 86px;
        height: 5.24vw;
      }
    }
  }

  &__lantern3 {
    position: absolute;
    bottom: 6%;
    left: 70.6%;
    max-width: 214px;
    width: 12.8vw;
    max-height: 562px;
    height: 34.3vw;
  }

  &__woman {
    position: absolute;
    bottom: 6%;
    left: 17.4%;
    max-width: 98px;
    width: 6vw;
    max-height: 267px;
    height: 16.3vw;
  }

  &__hand2 {
    position: absolute;
    bottom: 20.4%;
    left: 19%;
    max-width: 63px;
    width: 4vw;
    max-height: 44px;
    height: 2.7vw;
    animation: hand2_anim 10s;
    animation-iteration-count:infinite;
  }

  &__suitcases {
    position: absolute;
    bottom: 6%;
    left: 16.7%;
    max-width: 191px;
    width: 12vw;
    max-height: 95px;
    height: 5.8vw;
  }

  &__hand {
    position: absolute;
    bottom: 40%;
    left: 24%;
    max-width: 89px;
    width: 6vw;
    max-height: 128px;
    height: 7.8vw;
    transform: rotate(152deg);
    transform-origin: 16% 90%;
    animation: hand_anim 10s;
    animation-iteration-count:infinite;
  }

  &__man {
    position: absolute;
    bottom: 6%;
    left: 24.1%;
    max-width: 205px;
    width: 13vw;
    max-height: 353px;
    height: 21.5vw;
  }
}

@keyframes car_anim {
  from {
    left: -50%;
  }
  to {
    left: 150%;
  }
}

@keyframes clouds_anim {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

@keyframes taxi_anim {
  from {
    left: 100%;
  }
  40%, 60% {
    left: 40.8%;
  }
  100% {
    left: -80%;
  }
}

@keyframes message_anim {
  from, 45%, 80% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@keyframes message2_anim {
  from, 10%, 45% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

@keyframes message3_anim {
  from, 20%, 45% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}

@keyframes message4_anim {
  from, 60%, 80% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

@keyframes hand_anim {
  from, 20%, 43% {
    transform: rotate(152deg);
  }
  30% {
    transform: rotate(0deg);
  }
}

@keyframes hand2_anim {
  from, 10%, 37% {
    transform: rotate(0deg);
  }
  17% {
    transform: rotate(-50deg);
    transform-origin: 8% 5%;
  }
}