/*blog*/

@import "../../components/var";

.blogs {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 19px;
    margin-top: 0;

    @media (max-width: 768px) {
      margin-bottom: 12px;
    }
  }
}