/*blog*/

.blog-img {
  padding-bottom: 10px;
}

.blog-item {
  position: relative;
  max-width: 380px;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}

.blog-date {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.blog-title {
  margin-top: 8px;
  margin-bottom: 15px;
  font-family: "Montserrat", "Candara", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1e0606;
}

a:hover > .blog-title {
  text-decoration: underline;
}
a:active > .blog-title {
  text-decoration: underline;
}

.blog-text {
  margin-top: 0;
  margin-bottom: 34px;
  line-height: 25px;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 19px;
  margin-top: 0;
}
