/*description*/

@import "../../components/var";

.products {
  padding: 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
    margin-top: 0;
  }
}

.product {
  position: relative;
  margin-bottom: 23px;
  margin-left: 20px;

  &:nth-child(4) {
    margin-left: 220px;
  }
}

.products-info {
  margin-bottom: 45px;
  padding-left: 220px;

  &__text {
    max-width: 680px;
    
    &> p {
      margin: 0;
      padding-bottom: 15px;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 24px;
    font-family: "Montserrat", "Candara", sans-serif;
    font-weight: bold;
    font-size: $big;
    line-height: 46px;
    text-transform: uppercase;
    color: $dark;
  }
}

a > .product__title {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.4s;
}

a:hover > .product__title,
a:active > .product__title {
  text-decoration-color: $white;
}
