/*description*/

@import "../../components/var";

.products-info {
  margin-top: 54px;
  margin-bottom: 45px;
  padding-left: 24px;

  @media (max-width: 899px) {
    padding-left: 15px;
    margin-top: 37px;
    margin-bottom: 35px;
  }

  @media (max-width: 375px) {
    margin-top: 26px;
    padding-left: 5px;
    margin-bottom: 34px;
  }

  @media (max-width: 330px) {
    padding-left: 10px;
  }

  &__text {
    max-width: 680px;

    @media (max-width: 1000px) {
      max-width: 100%;
    }
    
    &> p {
      margin: 0;
      padding-bottom: 15px;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 24px;
    font-family: "Montserrat", "Candara", sans-serif;
    font-weight: bold;
    font-size: $big;
    line-height: 46px;
    text-transform: uppercase;
    color: $dark;

    @media (max-width: 768px) {
      font-size: $big-3;
      line-height: 44px;
      padding-bottom: 20px;
    }

    @media (max-width: 375px) {
      font-size: $normal-2;
      line-height: 29px;
      padding-bottom: 16px;
    }
  }
}

a > .product__title {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.4s;
}

a:hover > .product__title,
a:active > .product__title {
  text-decoration-color: $white;
}
