@import "../var";

.header {
  display: flex;
  padding-top: 47px;
  padding-bottom: 54px;

  &__logo {
    height: 58px;
  }

  &_hover {

    transition: opacity .4s;

    opacity: 1;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    align-items: center;
    margin-bottom: 20px;
  }

  &__nav-list-side {
    display: flex;
    width: 131px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 3px;
  }

  &__nav-item {
    margin-right: 20px;
    font-weight: normal;
    font-size: $very-small-2;
    line-height: 19px;
    color: $dark;
    text-transform: uppercase;

    &_side {
      margin-right: 0;
      font-weight: bold;
    }
  }
}