<header class="header container">
  <a class="header_active" href="../../index.html"><img class="header-logo" src="../../static/images/logo.svg" width="110" height="60" alt="logo"/></a>
  <nav class="header-nav">
    <ul class="header-list-links list-point-none">
      <li><a class="header-nav_item header_active" href="../../pages/blog/index.html">Blog</a></li>
      <li><a class="header-nav_item header_active" href="../../pages/catalog/index.html">Catalog</a></li>
      <li><a class="header-nav_item header_active" href="../../pages/toys/index.html">Toys</a></li>
    </ul>
    <ul class="header-list-contacts list-point-none">
      <li><a class="search-link header_active" href="#"><img src="../../static/images/search.svg" width="19" height="19" alt="search"/></a></li>
      <li><a class="header-contact header_active" href="../../pages/contact-us/index.html">Contact Us</a></li>
    </ul>
  </nav>
</header>
