<header class="header container">
  <a class="header__item" href="../../index.html"><img class="header__logo" src="../../static/images/logo.svg" width="110" height="60" alt="logo"/></a>
  <nav class="header__nav">
    <ul class="header__nav-list list-point-none">
      <li><a class="header__nav-item header__item" href="../../pages/blog/index.html">Blog</a></li>
      <li><a class="header__nav-item header__item" href="../../pages/catalog/index.html">Catalog</a></li>
      <li><a class="header__nav-item header__item" href="../../pages/toys/index.html">Toys</a></li>
    </ul>
    <ul class="header__nav-list-side list-point-none">
      <li><a class="header__item" href="#"><img src="../../static/images/search.svg" width="19" height="19" alt="search"/></a></li>
      <li><a class="header__nav-item header__nav-item_side header__item" href="../../pages/contact-us/index.html">Contact Us</a></li>
    </ul>
  </nav>
</header>
