/*description*/

@import "../../components/var";

.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__info {
    max-width: 380px;
    margin-left: 120px;
    margin-bottom: 60px;
  }

  &__info-text {
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__info-title {
    margin: 0;
    font-family: "Montserrat", "Candara", sans-serif;
    font-size: $normal-3;
    line-height: 34px;
    text-transform: uppercase;
    color: $brown;
  }
}