/* цвета */

$black: #000000;
$dark: #1e0606;
$dark-2: rgba(0, 0, 0, 0.2);
$dark-3: rgba(0, 0, 0, 0.3);
$dark-4: #1e060699;
$dark-5: rgba(30, 6, 6, 0.05);
$dark-6: rgba(30, 6, 6, 0.12);
$gray: #818181;
$gray-2: #aaaaaa;
$gray-3: #666666;
$gray-4: #a2a2a2;
$gray-5: #ebebeb;
$gray-6: #e5eaf8;
$gray-7: #e1e1e1;
$dark-gray: #434343;
$light-gray: #c1c1c1;
$white: #ffffff;
$light: #fffdfd;
$brown: #c29974;
$brown-2: #836e5b;
$brown-3: #eee4db;
$brown-4: #d6cac2;
$brown-5: #725f5b;
$brown-6: #e1cdba;
$light-brown: #cfaf91;
$light-blue: #e1f0f7;
$blue: rgb(77, 144, 254);
$dark-blue: rgba(112, 187, 220, 0.2);
$violet: rgba(125, 151, 218, 0.8);
$dark-violet: rgba(125, 151, 218, 0.2);
$pink: #f3d0db;
$light-pink: #eddeeb;

/* высота шрифтов */

$very-small: 12px;
$very-small-2: 14px;
$small: 16px;
$small-2: 18px;
$normal: 20px;
$normal-2: 24px;
$normal-3: 26px;
$big: 38px;
$big-2: 40px;
$very-big: 60px;