/* цвета */

$black: #000000;
$black-2: #2C3036;
$light-dark: #2C2C2C;
$light-dark-2: #1c1c1c;
$dark: #1e0606;
$dark-2: rgba(0, 0, 0, 0.2);
$dark-3: rgba(0, 0, 0, 0.3);
$dark-4: rgba(30, 6, 6, 0.6);
$dark-5: rgba(30, 6, 6, 0.05);
$dark-6: rgba(30, 6, 6, 0.12);
$light-gray-2: #BCBCBE;
$gray: #818181;
$gray-2: #aaaaaa;
$gray-3: #666666;
$gray-4: #a2a2a2;
$gray-5: #ebebeb;
$gray-6: #e5eaf8;
$gray-7: #e1e1e1;
$gray-8: #545C66;
$gray-9: #656D78;
$dark-gray: #434343;
$light-gray: #c1c1c1;
$light-2: #F7F8FA;
$white: #ffffff;
$light: #fffdfd;
$brown: #c29974;
$brown-2: #836e5b;
$brown-3: #eee4db;
$brown-4: #d6cac2;
$brown-5: #725f5b;
$brown-6: #e1cdba;
$light-brown: #cfaf91;
$light-brown-2: #F8F2DA;
$dark-brown: rgba(186, 142, 107, 0.3);
$light-blue: #e1f0f7;
$light-blue-2: #93B7B7;
$light-blue-3: #DBE4DB;
$blue: rgb(77, 144, 254);
$blue-2: #2198F4;
$blue-3: #5D9CEC;
$navy-blue: #2b4b6e;
$navy-blue-2: #487eb8;
$dark-blue: rgba(112, 187, 220, 0.2);
$violet: rgba(125, 151, 218, 0.8);
$violet-2: #8F75BC;
$violet-3: #8972B6;
$dark-violet: rgba(125, 151, 218, 0.2);
$dark-violet-2: rgba(9, 3, 79, 0.17);
$pink: #f3d0db;
$pink-2: #fc9795;
$light-pink: #eddeeb;
$dark-pink: rgba(207, 68, 111, 0.25);
$orange: #EF5539;
$orange-2: #FA684F;
$orange-3: #f77d55;
$light-yellow: #f9d97b;
$yellow: #FFC80A;
$yellow-2: #FFC80C;
$yellow-3: #FFCE54;

/* высота шрифтов */

$tiny: 8px;
$tiny-2: 10px;
$very-small: 12px;
$very-small-2: 14px;
$small: 16px;
$small-2: 18px;
$normal: 20px;
$normal-5: 22px;
$normal-2: 24px;
$normal-3: 26px;
$normal-4: 30px;
$normal-6: 32px;
$large-2: 35px;
$large: 36px;
$big: 38px;
$big-2: 40px;
$big-3: 36px;
$big-4: 48px;
$very-big: 60px;