@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i%7CMontserrat:400,700%7COpen+Sans:400,700%7CRoboto:400,700&display=swap');
@import "../components/var";

body {
  font-family: "Open Sans", "Calibri", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  line-height: 22px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

input,
textarea {
  outline: none;
}

/* Фрагмент кода предоставлен лектором */

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
  padding: 0 20px;

  @media (max-width: 768px) {
    max-width: 678px;
    padding: 0 15px;
  }

  @media (max-width: 415px) {
    max-width: 345px;
    padding: 0 5px;
  }
}

.list-point-none {
  list-style-type: none;
  padding-left: 0;
}

/*breadcrumbs*/

.breadcrumbs {

  &__item {
    padding-right: 20px;
    font-family: "Crimson Text", "Big Caslon", serif;
    font-style: italic;
    font-weight: normal;
    font-size: $normal;
    line-height: 25px;
    color: $dark;

    @media (max-width: 375px) {
      font-size: $small;
      padding-right: 14px;
    }
  }
  
  &__title {
    opacity: 1;

    &_active {
    opacity: 0.5;
    }
  }

  &__list {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 49px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    @media (max-width: 375px) {
      margin-bottom: 16px;
    }
  }

  &__link {
    opacity: 1;

    transition: opacity .4s;

    &:hover {
      opacity: 0.75;
    }
  }

  &__arrow {
    @media (max-width: 375px) {
      width: 6px;
      height: 9px;
    }
  }
}

/* title */

.title-site {
  margin-top: 0;
  margin-bottom: 17px;
  font-family: "Montserrat", "Candara", sans-serif;
  font-weight: bold;
  font-size: $big-2;
  line-height: 49px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: $big-3;
    line-height: 44px;
    line-height: 44px;
    margin-bottom: 10px;
  }

  @media (max-width: 375px) {
    margin-top: 8px;
    font-size: $normal-2;
    line-height: 29px;
  }

  &_2 {
    font-size: $big-3;
    line-height: 44px;
    margin-bottom: 10px;

    @media (max-width: 375px) {
      font-size: $normal-2;
      line-height: 44px;
      margin-top: 0;
      margin-bottom: 3px;
    }
  }
}

/* Forms */

.form {
  position: relative;
  padding: 21px 40px 40px 40px;
  margin: 0 auto 61px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: $very-small-2;
  line-height: 16px;
  color: $dark;
  background-color: $gray-6;

  @media (max-width: 768px) {
    padding: 21px 56px 42px 56px;
    margin-bottom: 50px;
  }

  @media (max-width: 670px) {
    padding: 10px 25px 25px 25px;
    max-width: 335px;
  }

  &_modal {
    padding: 22px 40px 42px 40px;
    margin: auto;

    @media (max-width: 768px) {
      padding: 22px 56px 42px 56px;
    }

    @media (max-width: 670px) {
      padding: 10px 25px 25px 25px;
    }
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    min-width: 600px;

    @media (max-width: 768px) {
      min-width: 536px;
    }

    @media (max-width: 670px) {
      flex-direction: column;
      min-width: 285px;
      padding-top: 35px;
    }

    @media (max-width: 330px) {
      min-width: 265px;
    }

    &_short {
      min-width: 290px;

      @media (max-width: 768px) {
        min-width: 258px;
      }

      @media (max-width: 670px) {
        position: relative;
      }

      &_2 {
        @media (max-width: 670px) {
          margin-bottom: 36px;
        }
      }
    }
  }

  &__label {
    top: 20px;
    position: absolute;

    @media (max-width: 670px) {
      top: 16px;
    }

    &_2 {
      @media (max-width: 670px) {
        top: -20px;
      }
    }
  }

  &__input {
    padding: 13px 19px;
    width: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    font-size: $small-2;
    line-height: 21px;
    background-color: $white;
    border: 2px solid $dark-2;

    @media (max-width: 768px) {
      font-size: $small;
      line-height: 19px;
      padding: 14px 19px;
    }

    @media (max-width: 670px) {
      font-size: $very-small-2;
      line-height: 16px;
      padding: 11px 14px;
    }

    transition: border-color .4s;

    &:hover {
      border: 2px solid $dark-3;
    }

    &:active {
      border: 2px solid $dark-2;
    }
  }

  &__input-message {
    min-height: 150px;
    width: 100%;
    resize: none;
  }

  &__checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 20px;
    cursor: pointer;

    @media (max-width: 670px) {
      padding-top: 18px;
    }
  }

  &__checkbox-indicator {
    margin-right: 15px;
    padding-left: 34px;
    padding-top: 2px;

    @media (max-width: 670px) {
      padding-left: 29px;
      margin-right: 0;
      padding-top: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 2px solid $brown;
      border-radius: 3px;
      margin-top: 19px;

      @media (max-width: 670px) {
        height: 17px;
        width: 17px;
      }
    }
  }

  &__submit-button {
    margin-top: 20px;
    
    @media (max-width: 670px) {
      margin-top: 15px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: -25px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media (max-width: 768px) {
			top: -25px;
      right: 0;
    }

    transition: opacity .4s;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__checkbox {
    &:checked + .form__checkbox-indicator:after {
      background: url(../../static/images/Check.svg) no-repeat;

      @media (max-width: 670px) {
        background-size: 13px;
      }
    }
  }
}

input:focus + .form__checkbox-indicator {
  outline-color: $blue;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

/*selector*/

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -8px;
  margin-bottom: 56px;
  font-family: "Montserrat", "Candara", sans-serif;
  font-weight: bold;
  font-size: $small;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark;

  @media (max-width: 768px) {
    margin-bottom: 47px;
  }

  @media (max-width: 375px) {
    font-size: $very-small-2;
    line-height: 17px;
  }

  &__pages {
    display: flex;
  }

  &__item {
    padding-left: 33px;
    padding-right: 33px;

    @media (max-width: 375px) {
      margin-top: 3px;
      padding-left: 26px;
      padding-right: 26px;
    }

    transition: opacity .4s;

    &:hover {
      opacity: 0.75;
    }

    &_active {
      color: $brown;
    }
  }

  &__btn {
    fill: $dark-6;

    transition: opacity .4s;
    transition: fill .4s;

    &:hover {
      fill: $brown;
    }

    &:active {
      fill: $brown;
      opacity: 0.5;
    }

    &_back {
      transform: rotate(180deg);
    }
  }
}

// Подключение компонентов

@import "./button/button";
@import "./header/header";
@import "./footer/footer";
@import "./link-button/link-button";
@import "./product/product";
@import "./blog/blog";
@import "./toy/toy";
