@import "../../components/var";

.svg {
  margin-bottom: 57px;
  stroke-dasharray: 175;
  stroke-dashoffset: 700;
  animation: dash 7s linear forwards;
  animation-iteration-count:infinite;

  @media (max-width: 450px) {
    width: 100%;
  }

  &__frame1 {
    animation: frame1 7s;
    animation-iteration-count:infinite;
  }

  &__frame2 {
    animation: frame2 7s;
    animation-iteration-count:infinite;
  }

  &__moon {
    animation: moon 7s;
    animation-iteration-count:infinite;
  }

  &__mount1 {
    animation: mount1 7s;
    animation-iteration-count:infinite;
  }

  &__mount2 {
    animation: mount2 7s;
    animation-iteration-count:infinite;
  }

  &__mount3 {
    animation: mount3 7s;
    animation-iteration-count:infinite;
  }

  &__mount4 {
    animation: mount4 7s;
    animation-iteration-count:infinite;
  }

  &__star {
    animation: star 7s;
    animation-iteration-count:infinite;
  }

  &__line1 {
    animation: line1 7s;
    animation-iteration-count:infinite;
  }

  &__line2 {
    animation: line2 7s;
    animation-iteration-count:infinite;
  }

  &__line3 {
    animation: line3 7s;
    animation-iteration-count:infinite;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes frame1 {
  from, to {
    fill: $blue-3;
  }
  50% {
    fill: $pink-2;
  }
}

@keyframes frame2 {
  from, to {
    fill: $blue-3;
  }
  50% {
    fill: $light-dark-2;
  }
}

@keyframes moon {
  from, to {
    fill: $yellow-3;
  }
  50% {
    fill: $white;
  }
}

@keyframes mount1 {
  from, to {
    fill: $gray-8;
  }
  50% {
    fill: $navy-blue;
  }
}

@keyframes mount2 {
  from, to {
    fill: $gray-9;
  }
  50% {
    fill: $navy-blue-2;
  }
}

@keyframes mount3 {
  from, to {
    fill: $gray-8;
  }
  50% {
    fill: $orange-3;
  }
}

@keyframes mount4 {
  from, to {
    fill: $gray-9;
  }
  50% {
    fill: $light-yellow;
  }
}

@keyframes star {
  from, to {
    fill: none;
    fill-opacity: 0;
  }
  30%, 60% {
    fill: $white;
    fill-opacity: 0.5;
  }
  37%, 55% {
    fill: $white;
    fill-opacity: 1;
  }
}

@keyframes line1 {
  from, to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-13px);
  }
}

@keyframes line2 {
  from, to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-27px);
  }
}

@keyframes line3 {
  from, to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
}