<li class="blog">
  <a class="blog__link" href="@@link">
    <picture class="blog__img-box">
      <source srcset="../../static/images/@@img-mobile, ../../static/images/@@img-mobile2 2x" media="(max-width: 700px)">
      <source srcset="../../static/images/@@img-tablet, ../../static/images/@@img-tablet2 2x" media="(max-width: 850px)">
      <source srcset="../../static/images/@@img, ../../static/images/@@img2 2x">
      <img src="../../static/images/@@img" alt="@@alt" width="380" height="230" class="blog__img"/>
    </picture>
    <span class="blog__date">@@date</span>
    <h2 class="blog__title">@@title</h2>
  </a>
  <p class="blog__text">@@text</p>
</li>
