/*filter*/

@import "../../components/var";

.filter {
  background-color: $dark-violet;

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 42px 105px 17px 11px;
  }

  &__legend {
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 10px;
  }
}

.fieldset-color {
  display: flex;
  padding-left: 58px;
}

.fieldset-delivery {
  display: flex;
  padding-left: 66px;
}

.fieldset-amount {
  padding-right: 25px;
}

fieldset {
  border: 0 none;
}

/*range*/

.slider {
  -webkit-appearance: none;
  width: 188px;
  height: 4px;
  background-color: $gray-3;
  outline: none;

  transition: opacity .4s;

  &:focus {
    outline-color: $blue;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }

  &:hover {
    opacity: 0.9;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url(../../static/images/Range.svg);
    cursor: pointer;
  }
}

.range-cost {
  display: flex;
  justify-content: space-between;
  margin: 16px -11px 0 -5px;
}

/*checkbox*/

.form-checkbox:checked + .form-checkbox-indicator:after {
  background: url(../../static/images/Check.svg) no-repeat;
  background-color: $white;
}

.form-checkbox-indicator {
  padding-left: 30px;
  margin-right: 8px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 19px;
    width: 19px;
    border: 2px solid $brown;
    border-radius: 3px;
  }
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.4s;

  &:hover {
    text-decoration-color: $black;
  }
}

input:focus + .form-checkbox-indicator {
  outline-color: $blue;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.form-checkbox:disabled + .form-checkbox-indicator:after {
  border: 2px solid $brown-6;
}

.form-checkbox:disabled + .form-checkbox-indicator:after {
  background: url(../../static/images/Check_disabled.svg) no-repeat;
}

/*radio*/

.radio-label {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.4s;

  &:hover {
    text-decoration-color: $black;
  }
}

.form-radio-indicator {
  position: relative;
  padding-left: 30px;
  margin-right: 10px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid $brown;
    border-radius: 100%;
  }
}

.form-radio:checked + .form-radio-indicator:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: $brown;
}

input:focus + .form-radio-indicator {
  outline-color: $blue;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.form-radio:disabled + .form-radio-indicator:before {
  background-color: $brown-6;
}

.form-radio:disabled + .form-radio-indicator:after {
  border: 2px solid $brown-6;
}

/*radio-box*/

.radio-box-label {
  position: relative;
  cursor: pointer;
}

.form-radio-box-indicator {
  display: block;
  height: 35px;
  width: 80px;
  padding-top: 10px;
  text-align: center;
  background-color: $white;
  border: none;
}

.form-radio-box:not(checked) + .form-radio-box-indicator {
  background-color: $white;
  transition: .4s;
}

.form-radio-box:checked + .form-radio-box-indicator {
  background-color: $pink;
  transition: .4s;
}

.form-radio-box:hover + .form-radio-box-indicator {
  background-color: $light-pink;
  transition: .4s;
}

input:focus + .form-radio-box-indicator {
  outline-color: $blue;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.radio-box-container {
  display: flex;
}

/*filter-button*/

.fieldset-button {
  margin-top: 36px;
}

/*toy list*/

.toys {
  margin-top: 57px;
  margin-bottom: 34px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 0;
  }
}
