/*filter*/

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 42px 105px 17px 11px;
}

/*range*/

.slider:focus {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 188px;
  height: 4px;
  background-color: #666666;
  outline: none;
}

.slider:hover {
  -webkit-transition: 0.2s;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 0;
  background: url(../../static/images/Range.svg);
  cursor: pointer;
}

.range-cost {
  display: flex;
  justify-content: space-between;
  margin: 16px -11px 0 -5px;
}

.filter-field {
  background-color: rgba(125, 151, 218, 0.2);
}

.filter-legend {
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 10px;
}

.fieldset-color {
  display: flex;
  padding-left: 58px;
}

.fieldset-delivery {
  display: flex;
  padding-left: 66px;
}

.fieldset-amount {
  padding-right: 25px;
}

fieldset {
  border: 0 none;
}

/*checkbox*/

.form-checkbox:checked + .form-checkbox-indicator:after {
  background: url(../../static/images/Check.svg) no-repeat;
  background-color: #ffffff;
}

.form-checkbox-indicator {
  padding-left: 30px;
  margin-right: 8px;
}

.form-checkbox-indicator:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 19px;
  width: 19px;
  border: 2px solid #c29974;
  border-radius: 3px;
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
}

.checkbox-label:hover {
  text-decoration: underline;
}

input:focus + .form-checkbox-indicator {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.form-checkbox:disabled + .form-checkbox-indicator:after {
  border: 2px solid #e1cdba;
}

.form-checkbox:disabled + .form-checkbox-indicator:after {
  background: url(../../static/images/Check_disabled.svg) no-repeat;
}

/*radio*/

.radio-label {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  cursor: pointer;
}

.radio-label:hover {
  text-decoration: underline;
}

.form-radio-indicator {
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
}

.form-radio-indicator:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 20px;
  width: 20px;
  border: 2px solid #c29974;
  border-radius: 100%;
}

.form-radio:checked + .form-radio-indicator:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #c29974;
}

input:focus + .form-radio-indicator {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.form-radio:disabled + .form-radio-indicator:before {
  background-color: #e1cdba;
}

.form-radio:disabled + .form-radio-indicator:after {
  border: 2px solid #e1cdba;
}

/*radio-box*/

.radio-box-label {
  position: relative;
  cursor: pointer;
}

.form-radio-box-indicator {
  display: block;
  height: 35px;
  width: 80px;
  padding-top: 9px;
  text-align: center;
  background-color: #ffffff;
  border: none;
}

.form-radio-box:checked + .form-radio-box-indicator {
  background-color: #f3d0db;
}

.form-radio-box:hover + .form-radio-box-indicator {
  background-color: #eddeeb;
}

input:focus + .form-radio-box-indicator {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.radio-box-container {
  display: flex;
}

/*filter-button*/

.fieldset-button {
  margin-top: 36px;
  border: none;
}

/*toy list*/

.products {
  padding: 0;
  margin-top: 0;
  font-family: "Montserrat", "Candara", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
}

.toy {
  margin-top: 57px;
  margin-bottom: 34px;
}

.products {
  font-family: "Montserrat", "Candara", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1e0606;
}

.toy-item {
  width: 380px;
  position: relative;
  margin-bottom: 45px;
}

.toy-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 0;
}

.toy-title {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1e0606;
}

.toy-cost {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.toy-select:hover:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 89px;
  left: 87px;
  width: 207px;
  height: 207px;
  content: "LEARN MORE";
  color: #1e0606;
  font-family: "Montserrat", "Candara", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  background-color: #e5eaf8;
  opacity: 0.9;
}

.toy-select:active:before {
  opacity: 0.67;
}
