@import "../var";

.toy {
  width: 380px;
  position: relative;
	margin-bottom: 45px;
	
	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		padding-top: 27px;
		font-weight: normal;
		font-size: $very-small-2;
		line-height: 19px;
		color: $dark;
	}

	&__cost {
		padding-top: 16px;
		font-weight: bold;
		font-size: $small;
		line-height: 22px;
		color: $dark;
	}

	&__box {

		&:hover:before {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 89px;
			left: 87px;
			width: 207px;
			height: 207px;
			content: "LEARN MORE";
			color: $dark;
			font-family: "Montserrat", "Candara", sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: $normal-3;
			line-height: 29px;
			background-color: $gray-6;
			opacity: 0.9;
		}

		&:active:before {
			opacity: 0.67;
		}
	}
}