@import "../var";

.toy {
  width: 32.3%;
  height: 100%;
  position: relative;
  margin-bottom: 45px;

  @media (max-width: 800px) {
    width: 31.4%;
    margin-bottom: 31px;
  }

  @media (max-width: 500px) {
    width: 48%;
    margin-bottom: 25px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding-top: 27px;
    font-weight: normal;
    font-size: $very-small-2;
    line-height: 19px;
    color: $dark;

    @media (max-width: 768px) {
      padding-top: 13px;
      text-align: center;
      font-size: $very-small;
      line-height: 16px;
    }

    @media (max-width: 375px) {
			padding-top: 8px;
    }
  }

  &__cost {
    padding-top: 16px;
    font-weight: bold;
    font-size: $small;
    line-height: 22px;
    color: $dark;

    @media (max-width: 768px) {
      padding-top: 5px;
      font-size: $very-small-2;
      line-height: 19px;
    }

    @media (max-width: 375px) {
      padding-top: 6px;
      font-size: $very-small;
      line-height: 16px;
    }
  }

  &__box {

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 89px;
      left: 87px;
      width: 207px;
      height: 207px;
      content: "LEARN MORE";
      color: $dark;
      font-family: "Montserrat", "Candara", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: $normal-3;
      line-height: 29px;
      background-color: $gray-6;
      opacity: 0;
      transition: .6s;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &:hover::before {
      opacity: 0.9;
    }

    &:active::before {
      opacity: 0.67;
    }
  }
}