<li class="toy">
  <a class="toy__link" href="@@link">
    <div class="toy__box">
      <picture class="toy__img-box">
        <source srcset="../../static/images/@@img-mobile, ../../static/images/@@img-mobile2 2x" media="(max-width: 700px)">
        <source srcset="../../static/images/@@img-tablet, ../../static/images/@@img-tablet2 2x" media="(max-width: 850px)">
        <source srcset="../../static/images/@@img, ../../static/images/@@img2 2x">
        <img src="../../static/images/@@img" alt="@@alt" width="380" height="385" class="toy__img"/>
      </picture>
    </div>
    <span class="toy__title">@@title</span>
    <span class="toy__cost">@@cost</span>
  </a>
</li>